body {
  background-image: url("../img/bg-pattern.png"), linear-gradient(to right, #DA2431, #7A4397);
}

header {
  position: sticky;
  top: 0;
}

 .navbar-brand {
  color:#F0A954
}
.download .jumbotron {
  background-color: #FDCB4E;
}

.start  .jumbotron {
  background-image: url("../img//bg-cta.jpg");
  background-size: 100% auto;
}

.contact .jumbotron {
  background-color: #FEC947;
}

.fab {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  opacity: 90%;
}

.fa-twitter {
  background-color: rgba(29, 161, 243, 0.9);
  padding: 1rem;
}

.fa-twitter:hover {
  background-color: rgba(29, 161, 243, 1);
}

.fa-facebook-f {
  background-color: rgb(59, 89, 153, 0.9);
  padding: 1rem 1.4rem;
}

.fa-facebook-f:hover {
  background-color: rgb(59, 89, 153, 1);
}

.fa-google-plus-g {
  background-color:rgb(221, 76, 57, 0.9);
  padding: 1rem 0.8rem;
}

.fa-google-plus-g:hover {
  background-color:rgb(221, 76, 57, 1);
}

footer {
  background-color:  #222;
  color: #484848;
}

.footer-link {
  color:#484848;
}

.footer-link:hover {
  color:  #fdcc52;
}